{% extends "navs.html" %}

{% block feedback %}
    <h1>ЖДЕМ ПИСЕМ </h1>
    <form action="" method="post" validate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.category(class="form-control") }}<br>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control") }}<br>
            {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.message.label }}<br>
            {{ form.message(class="form-control") }}<br>
            {% for error in form.message.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>

    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
 </p>
    </form>
{% endblock %}