{% extends "base.html" %}

{% block content %}
    <h1>Добавить/Редактировать</h1>
    <form action="" method="post" validate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.category.label }}<br>
            {{ form.category(class="form-control") }}<br>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(class="form-control") }}<br>
            {% for error in form.content.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {% if photo %}
                <img src="../static/img/{{ form.category.data }}/{{ photo }}" width="50%">
            {% endif %}
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
 </p>
    </form>
{% endblock %}